
.box { width:
100px; height:
100px;
background-color: lightblue;
border: 1px solid #000; margin:
10px;
}
.box1 { position:
relative; top:
10px; left: 20px;
}
.box2 { position:
relative; top:
20px; left: 40px;
}
.box3 { position:
relative; top:
30px; left: 60px;
}
